body{
  background:url(img/background-image.jpg); 
  color: beige;
}
/*header*/
h1 {
    margin-left: 50px;
    font-family: cursive;
    font-size: 45px;
}

/*Game border*/
 .border {   
    margin: 140px 550px 0 550px ;
    
}
#myTable {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
     width: 50px;
     height:50px ;
   
  }
  td{
      text-align: center;
  }
  td:hover{
  background-color:gray;}
/*audio*/
  aside{
     margin-left: 1020px;
  }

  /*buttons*/
#buttons{
    margin-top: 70px;
    margin-bottom: 30px;
}
   
 button
 {
text-align: center;
width: 120px;
font-size: 18px;
font-weight: 800;
padding: 12px 0;
color:beige;
border-radius: 15px;
background-color: rgba(255, 255, 255, 0.2);
margin-left: 18px;
font-family: serif;
}
button:hover{
    background-color:rgb(190,175,175);
}


 /*players */

 .container {
    margin: 0  500px; 
    text-align: center; 
    }

p{
    font-size: 30px;
    letter-spacing: 5px;
}

#player1 {
   float: left;
}
#player2 {
float: right;
}

span{
    font-size: 20px;
    display: block;
}

/*pop up massage*/
.swal-footer{
    text-align: center;
   
}
.swal-button{
    background-color: rgba(190,175,175,0.4);}
   


    .swal-modal{
        background-color: #EDE9EA;

    }
    /*to start the game.*/
    a{
       
            text-decoration: none;
            color:beige;
    
        
    }
    .Game-instructions{
       padding: 50px;
       margin: 100px auto ;
       text-align: center;

    }
    ul{
        font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    list-style: none;
    }
    
